.head-name{
    width: 90%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: transparent;
    border: 5px solid rgba(197, 165, 244, 0.733);
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(80, 1, 112);
}

.main-head {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
}

.review-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.reviewform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(197, 165, 244, 0.733);
    margin: 40px 500px;
    padding: 50px 0;
    text-align: start;
    border-radius: 20px;
}

label{
    font-size: 20px;
    color: rgb(80, 1, 112);
}

input{
    width: 300px;
    margin: 10px;
    padding: 10px;
}


.review{
    width: 400px;
    height: 185px;
    background-color: rgba(197, 165, 244, 0.733);
    padding: 10px 20px;
    margin: 20px;
    border-radius: 20px;
}

span{
    padding-left: 10px;
    font-size: 20px;
}

button{
    color: rgb(80, 1, 112);
    padding: 10px 50px;
    font-weight: 600;
    border-radius: 20px;
    border: 0;
}